# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments (if you use them locally)
.venv/
venv/
env/

# Ignore all data files locally
data/raw/*
data/processed/*
!data/**/.gitkeep

# Ignore model outputs
models/*
!models/.gitkeep
